<header>
	<section class="wrapper nav-flex">
		<nav>
			<a href="#" class="logo">
				<h1 class="section-name">RecipeHub</h1>
			</a>
		</nav>
		
		<nav class="login-area">
			<button class="login"><a href="#">LOGIN</a></button>
			<button class="register"><a href="#">REGISTER</a></button>
		</nav>
	</section>
</header>

<main>
	<section class="jumbo">
		<h1>what's cooking today?</h1>
		<div class="search">
			<input type="search" placeholder="Find a recipe">
			<button label="FIND">FIND</button>
		</div>
	</section>

	<section class="wrapper product">
		<h2 class="section-name">our delicious collections</h2>
		<article class="card">
			<div class="box"><img src="https://source.unsplash.com/1600x1200?noodles"></div>
			<header class="card-content">
				<span class="card-category chicken">Chinese</span>
				<span class="card-header">Chowmin</span>
				<span class="card-desc">Chowmin is a common evening snack dish, a mixture of Chinese and Indian flavour</span>
			</header>
			<footer class="card-content">
				<div class="contributor"><span class="contributor-name">by <a href="#">Ranbeer Brar</a></span></div>
				<div class="bookmark"></div>
			</footer>
		</article>
		<article class="card">
			<div class="box"><img src="https://source.unsplash.com/1600x1200?pasta"></div>
			<header class="card-content">
				<span class="card-category chicken">Italian</span>
				<span class="card-header">Pasta</span>
				<span class="card-desc">The pasta is an easy weeknight meal that’s ready under 30 minutes and save your time..</span>
			</header>
			<footer class="card-content">
				<div class="contributor"><span class="contributor-name">by <a href="#">Sanjeev Kapoor</a></span></div>
				<div class="bookmark"></div>
			</footer>
		</article>
		<article class="card">
			<div class="box"><img src="https://source.unsplash.com/1600x1200?rolls"></div>
			<header class="card-content">
				<span class="card-category chicken">Rolls</span>
				<span class="card-header">Rolls</span>
				<span class="card-desc">The most tasty thing you can make from the mixture of vegetables for children.</span>
			</header>
			<footer class="card-content">
				<div class="contributor"><span class="contributor-name">by <a href="#">Kunal Kapoor</a></span></div>
				<div class="bookmark"></div>
			</footer>
		</article>
		<article class="card">
			<div class="box"><img src="https://source.unsplash.com/1600x1200?sushi"></div>
			<header class="card-content">
				<span class="card-category chicken">Japanese</span>
				<span class="card-header">Shushi</span>
				<span class="card-desc">Easy to make and a delight to eat, Kappa Maki are mini sushi rolls filled with crisp cucumber.</span>
			</header>
			<footer class="card-content">
				<div class="contributor"><span class="contributor-name">by <a href="#">Jackie Chan</a></span></div>
				<div class="bookmark"></div>
			</footer>
		</article>
		<article class="card">
			<div class="box"><img src="https://source.unsplash.com/1600x1200?pizza"></div>
			<header class="card-content">
				<span class="card-category chicken">Italian</span>
				<span class="card-header">Pizza</span>
				<span class="card-desc">You can try baking them at home, it is pretty easy once you see the reciepe.</span>
			</header>
			<footer class="card-content">
				<div class="contributor"><span class="contributor-name">by <a href="#">Da Vinci</a></span></div>
				<div class="bookmark"></div>
			</footer>
		</article>
		<article class="card">
			<div class="box"><img src="https://source.unsplash.com/1600x1200?samosa"></div>
			<header class="card-content">
				<span class="card-category chicken">Indian</span>
				<span class="card-header">Samosa</span>
				<span class="card-desc">Try this reciepe of samosa on a rainy day with hot tea and double your enjoyment..</span>
			</header>
			<footer class="card-content">
				<div class="contributor"><span class="contributor-name">by <a href="#">Da Vinci</a></span></div>
				<div class="bookmark"></div>
			</footer>
		</article>
		<article class="card">
			<div class="box"><img src="https://source.unsplash.com/1600x1200?mocktails"></div>
			<header class="card-content">
				<span class="card-category chicken">Drinks</span>
				<span class="card-header">Refreshments</span>
				<span class="card-desc">These drinks will refresh your mind in this hot summer weather, try it soon.</span>
			</header>
			<footer class="card-content">
				<div class="contributor"><span class="contributor-name">by <a href="#">Jason Roy</a></span></div>
				<div class="bookmark"></div>
			</footer>
		</article>
		<article class="card">
			<div class="box"><img src="https://source.unsplash.com/1600x1200?sweets"></div>
			<header class="card-content">
				<span class="card-category chicken">Indian</span>
				<span class="card-header">Sweets</span>
				<span class="card-desc">These sweets can make your mood lift up, once you eat the...so try it asap.</span>
			</header>
			<footer class="card-content">
				<div class="contributor"><span class="contributor-name">by <a href="#">Chagan Halwai</a></span></div>
				<div class="bookmark"></div>
			</footer>
		</article>
		
	</section>
</main>

<footer>
	<section class="wrapper">
		<nav>
		</nav>
	</section>
</footer>